*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    /* background: linear-gradient(to bottom,rgb(105, 105, 184),white);*/
    height: 100vh;
    font-family: 'Bayon', sans-serif;
   /* color:rgb(130, 214, 220); */
    font-size: 20px;
    background-image: url(tumbleweed-acegif-36.gif);
    background-repeat: round;   
    background-size:cover;

    
    

}

.contenedor{
    width: 400px;
    height: 600px;
    margin:  auto;
    
}

.parteSuperior{
    margin: 30px 0 1px 0;
}

.barraDeTareas{
    background-color: rgb(248, 247, 247);
    border-radius: 10px;
    width: 300px;
    height: 60px;
    margin-bottom: 15px;
    border:none;
}

.barraDeTareas ::placeholder{
    opacity: 0.3;
}

#input{
    border:none;
    height: 20px;
    border-radius: 0px;
    padding-left: 30px;
    width: 250px;
    background-color: rgb(248, 247, 247);
    margin: 20px 10px 20px 10px;
    outline: none;
    font-family: 'Bayon', sans-serif;
    font-size: 20px;
    color:rgb(168, 176, 177);
        

}


button{
    
    border-radius: 50%;
    font-size: 20px;
    color:white;
    font-weight: bold;
    margin-top: 5px;
    background-color: rgb(105, 105, 184);
    
}

button:hover{
    transform: scale(1.1);
}

li{
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: rgb(248, 247, 247);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    color:rgb(7, 10, 11);
}

li button{
    background-color: red;
}
li button:hover{
    transform:scale(1.1);
}

.sinTareas p{
    padding-left: 45px;
}